<div class="container mt-5">
    <div class="row">
        <div class="col-sm-4">
            <h2>Sobre nosotros</h2>
            
            
            <img src="../../../assets/images/bienvenida.jpg" alt="Bienvenido" class="home-image">
            
            <p>"En nuestra bodega, nos comprometemos a ofrecer productos esenciales de la canasta básica al mejor precio
                y con la mejor calidad. Queremos ser tu opción confiable para abastecer tu hogar con productos frescos y
                accesibles. ¡Ven y descubre la diferencia de comprar con nosotros!"</p>
            
                <h3 class="mt-4">De tu interes</h3>
            <p>Inicia Sesion y conoce nuestra Ofertas</p>
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link active" routerLink="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/login">Clientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/productos">Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/contactos">Contactanos</a>
                </li>
            </ul>
            <hr class="d-sm-none">
        </div>
        <div class="col-sm-8">
            <h2>Los primeros en el mercado</h2>
            <h5>Jan 7, 2020</h5>
            
            <p>"Nos enorgullece ser pioneros en el mercado, liderando el mejoramiento de precios en productos de la
                canasta básica. Nuestra misión es hacer que la calidad sea accesible para todos, ofreciendo precios
                justos sin comprometer el valor de nuestros productos. Este hito refleja nuestro compromiso con cada
                familia, ayudándolas a ahorrar sin sacrificar lo esencial. ¡Seguimos innovando para ti!"</p>

            <h2 class="mt-5">Nuestros reconocimientos</h2>
            <h5>Jul 19, 2020</h5>
            
            <p>"Nos llena de orgullo recibir [nombre del reconocimiento] en reconocimiento a nuestro compromiso con la
                calidad y los precios justos en la canasta básica. Este logro refleja nuestro esfuerzo por brindar a las
                familias productos esenciales accesibles, siempre priorizando el bienestar de nuestra comunidad.
                Seguiremos trabajando con la misma pasión para ofrecer lo mejor a nuestros clientes. ¡Gracias por ser
                parte de este logro!"</p>

            <h2 class="mt-5">Nuestros Inicios</h2>
            <h5>Sep 2, 2020</h5>
            
            <p>"Nuestro emprendimiento nació en 2017 con una visión clara: ofrecer productos de la canasta básica a
                precios justos y accesibles. Comenzamos con un pequeño espacio, pero con un gran compromiso de brindar
                calidad y confianza a nuestra comunidad. Con el tiempo, gracias al esfuerzo y al apoyo de nuestros
                clientes, hemos crecido y consolidado nuestra bodega como una opción confiable para muchas familias.
                Seguimos innovando y mejorando para ofrecer lo mejor, siempre con la misma pasión con la que iniciamos
                este camino."</p>
        </div>
    </div>
</div>

<div class="mt-5 p-4 bg-dark text-white text-center">
    <p>Footer</p>
</div>